<!DOCTYPE html>
<html>
<head>
  <title>Forkem</title>
  <%= stylesheet_link_tag '/assets/dist/css/style.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/assets/dist/js/script.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to "ForkEm", root_path, class: "logo" %>

  <nav>
    <% if current_user %>
     <%= link_to '/' do %><span></span>Home<% end %>
     <%= link_to '/meal_books' do %><span></span>Meal Books<% end %>
     <%= link_to '/meals' do %><span></span>Meals<% end %>
    <% else %>
      <%= link_to "Login", users_login_path %>
    <% end %>
  </nav>
</header>

<div class="container">
  <%= yield %>
</div> 

</body>
</html>