<!DOCTYPE html>
<html>
  <head>
    <title>Forkem</title>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="app-container">
      <header>
        <nav>
          <div class="nav__mealbook-new">
            <% if params[:action] == "show" %>
              <%= link_to "+", new_mealbook_meal_path(mealbook) %>
            <% end %>
          </div>
          <div class="nav__mealbook-title"><%= content_for(:page_title) || "Mealbooks" %></div>
          <div class="nav__mealbook-other"></div>
        </nav>
      </header>
      <%= yield %>
    </div> 
  </body>
</html>
